In [1]:
%matplotlib inline

import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = pd.read_json('../HourDataSetRaw/archive/#Adidas.json','index')

In [18]:
df.sort_values('time', inplace=True)
df.set_index('time', inplace=True)
print(df.shape)
df.head()

(2555, 7)

,open,high,low,close,date,timeStr,dateStr
time,,,,,,,
1544684400000,200.01,200.82,198.87,199.82,2018-12-12 21:00:00,10:00,2018-12-13
1544688000000,199.91,200.42,198.82,199.32,2018-12-12 21:00:00,11:00,2018-12-13
1544691600000,199.26,199.82,199.12,199.42,2018-12-12 21:00:00,12:00,2018-12-13
1544695200000,199.47,200.12,199.02,199.07,2018-12-12 21:00:00,01:00,2018-12-13
1544698800000,199.25,200.04,199.01,199.49,2018-12-12 21:00:00,02:00,2018-12-13

In [19]:
df['close_ret'] = np.log(df['close']).diff()

In [20]:
df.head()

,open,high,low,close,date,timeStr,dateStr,close_ret
time,,,,,,,,
1544684400000,200.01,200.82,198.87,199.82,2018-12-12 21:00:00,10:00,2018-12-13,NaN
1544688000000,199.91,200.42,198.82,199.32,2018-12-12 21:00:00,11:00,2018-12-13,-0.002505
1544691600000,199.26,199.82,199.12,199.42,2018-12-12 21:00:00,12:00,2018-12-13,0.000502
1544695200000,199.47,200.12,199.02,199.07,2018-12-12 21:00:00,01:00,2018-12-13,-0.001757
1544698800000,199.25,200.04,199.01,199.49,2018-12-12 21:00:00,02:00,2018-12-13,0.002108