In [1]:
%matplotlib inline

import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_json('../HourDataSetRaw/archive/#Adidas.json','index')

In [9]:
df['time'] = pd.to_datetime(df['time'])

print(df.shape)
df.head()

(2555, 8)

,time,open,high,low,close,date,timeStr,dateStr
2018-12-13 07:00:00,1544684400000,200.01,200.82,198.87,199.82,2018-12-12 21:00:00,10:00,2018-12-13
2018-12-13 08:00:00,1544688000000,199.91,200.42,198.82,199.32,2018-12-12 21:00:00,11:00,2018-12-13
2018-12-13 09:00:00,1544691600000,199.26,199.82,199.12,199.42,2018-12-12 21:00:00,12:00,2018-12-13
2018-12-13 10:00:00,1544695200000,199.47,200.12,199.02,199.07,2018-12-12 21:00:00,01:00,2018-12-13
2018-12-13 11:00:00,1544698800000,199.25,200.04,199.01,199.49,2018-12-12 21:00:00,02:00,2018-12-13